*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    position: fixed;
    z-index: 4;
    width: 100%;
}

#lista-barid, .fa-bars{
    display: none;
}

span{
    color: white;
    font-size: 35px;
    letter-spacing: 1;
    text-shadow: 0 0 10px rgba(4, 52, 92, 0.397), 0 0 10px rgba(5, 124, 221, 0.61), 0 0 10px rgba(5, 124, 221, 0.61), 0 0 10px rgba(5, 124, 221, 0.61);
}

nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 1px;
}

nav a:hover{
    color: rgb(42, 158, 253);
    transition: 0.5s all;
}

figure{
    background: linear-gradient(rgba(0, 0, 1, 0.582),rgba(0, 0, 1, 0.582),rgba(0, 0, 1, 0.582)), url(../img/banner.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
}

figcaption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    
}

figcaption h2{
    font-size: 25px;
    text-shadow: 0 0 10px rgba(4, 52, 92, 0.397), 0 0 10px rgba(255, 255, 255, 0.219), 0 0 10px rgba(255, 255, 255, 0.205), 0 0 10px rgba(255, 255, 255, 0.226);
}

figcaption h1{
    font-size: 35px;
    padding: 25px 0px;
    text-shadow: 0 0 10px rgba(4, 52, 92, 0.397), 0 0 10px rgba(255, 255, 255, 0.219), 0 0 10px rgba(255, 255, 255, 0.205), 0 0 10px rgba(255, 255, 255, 0.226);
}

figcaption p{
    font-size: 30px;
}

figcaption b{
    color: rgb(42, 158, 253);
}

button{
    border: white 4px solid;
    border-radius: 20px;
    padding: 15px 20px;
    margin-top: 40px;
    background-color: inherit;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    background-color: rgb(42, 158, 253);
    transition: 0.5s;
}

button a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

@media only screen and (max-width:1180px){

    header{
        justify-content: space-between;
        padding: 0px 150px; 
    }

    #lista-barid, .fa-bars{
        display: block;
        float: right;
        font-size: 30px;
        margin: 30px;
        color: white;
    }

    nav{
        float: none;
        position: relative;
        left: -120%;
        transition: 1s;
        display: flex;
        flex-direction: column;
    }

    nav a{
        padding: 20px;
    }

    nav a:hover{
        background-color: rgb(32, 109, 252);
        color: white;
    }

    .lista-open{
        left: 100;
        transition: 1s;
    }

    #listaid{
        background: rgb(34, 39, 61);
        position: absolute;
        top: 80px;
        width: 80%;
    }

    .fa-bars{
        color: white;
        font-size: 22px;
    }

}

@media only screen and (max-width:900px){
    
    #listaid{width: 100%;}

    .lista-open{left: 0%;}
}

@media only screen and (max-width:850px){
    header{
        padding: 0px 100px; 
    }

    figcaption{
        width: 90%;
        margin: auto;
    }
}

@media only screen and (max-width:650px){
    header{
        padding: 0px 50px; 
    }

    span{
        font-size: 25px;
    }

    figcaption h1{
        font-size: 30px;
    }

    figcaption p{
        font-size: 20px;
    }
}

@media only screen and (max-width:450px){
    header{
        padding: 0px 20px; 
    }

    figcaption h1{
        font-size: 25px;
    }

    figcaption p{
        font-size: 15px;
    }

    button{
        padding: 10px;
        border: 2px solid white;
    }

    button a{
        font-size: 15px;
    }
}